@font-face {
  font-family: Madami_one;
  src: url(../font/Madimi_One\,Nanum_Pen_Script/);
}
body{
  font-family: Madami_one;
  color: black;
}
.wrap{
  width: 100%;
  height: 100%;
}
.inner{
  width: 1170px;
  margin: auto;
  box-sizing: border-box;
  
}
/* header 태그 */
header{
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  

}
header>.inner{
  height: 115px;
  
  position: relative;
}
header>.inner>h1{
  position: absolute;
  top: 15px;
  left: 0;
}
header>.inner>.top-menu{
  display: flex;
  justify-content: flex-end;
}
header>.inner>.top-menu>li{
  padding: 10px 20px;
  position: relative;
}
header>.inner>.nav>ul{
  display: flex;
  justify-content: center;
  height: 79px;
}
header>.inner>.nav>ul>li{
  margin: 0 40px;
}
header>.inner>.nav>ul>li>a{
  font-size: large;
  font-weight: 700;
  line-height: 79px;
}
header>.inner>.nav>ul>li>a:hover{
  color: green;
}
section{
  width: 100%;
  height: 725px;
  /* background-color: blueviolet; */
  background-image: url(../image/paris.jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  text-align: center;
}
section>ul{
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.bold{
  font-weight: 700;
}

.before::before{
  width: 1px;
  height: 13px;
  content: " ";
  background-color: gray;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -6.5px;
}




main>.con-box{
  width: 100%;
}
main>.con-box>.inner{
  padding: 120px 0;
}
main>.con1{
/* background-color: red; */
}
main>.con1>.inner{
  height: 100px;
  /* background-color: red; */
  padding: 10px;
}
main>.con1>.inner>a{
  text-align: center;
  position: relative;
}
main>.con1>.inner>a>img{
  position: absolute;
  left: 240px;
  top: 25px;
}
main>.con1>.inner>a>.time{
  display: flex;
  justify-content: center;
  line-height: 82px;
}
main>.con1>.inner>a>.time>.ti{
  display: flex;
  justify-content: center;
  padding-right: 30px;
  font-size: 20px;
  position: relative;
}
main>.con1>.inner>a>.time>p{
  font-size: 20px;
  margin-right: 20px;
}

main>.con1>.inner>a>.time>.ti>p{
  padding-right: 5px;
}


/* main-con2 */
main>.con2{
  /* background-color: black; */
  background-image: url(../image/mainCon1_img1.jpg);
  background-size: cover;
  background-position: center;
}
main>.con2>.inner{
  height: 890px;
  /* background-color: yellow; */
  text-align: center;
}
main>.con2>.inner>h1{
  font-size: 3em;
  margin-bottom: 30px;
  color: white;
}
main>.con2>.inner>h3{
  font-size: 2em;
  margin-bottom: 50px;
  color: white;
}
main>.con2>.inner>ul{
  display: flex;
  justify-content: space-between;
}
main>.con2>.inner>ul>li .img{
  width: 574px;
  height: 420px;
  background-size: cover;
  background-position: center;
}
main>.con2>.inner>ul>li .img1{
background-image: url(../image/mainCon1_img1.jpg);
}
main>.con2>.inner>ul>li .img2{
background-image: url(../image/mainCon1_img2.jpg);
}

main>.con2>.inner>ul>li p{
  height: 82px;
  line-height: 82px;
  font-size: 30px;
  font-weight: 700;
  color: white;
}

main>.con2>.inner>ul>li{
  border: 3px solid grey;
}

main>.con2>.inner>ul>li:hover{
  border: 3px solid white;
}


/* main-con3 */
main>.con3{
  /* background-color: green; */
  background-image: url(../image/mainCon1_img2.jpg);
  background-position: center;
  background-size: cover;
}
main>.con3>.inner{
  height: 715px;
  /* background-color: yellow; */
  text-align: center;
}
main>.con3>.inner>h1{
  font-size: 3em;
  margin-bottom: 30px;
}
main>.con3>.inner>p{
  font-size: 1.5em;
  margin-bottom: 30px;
}
main>.con3>.inner>ul{
  display: flex;
  justify-content: space-between;
}
main>.con3>.inner>ul .img{
  width: 375px;
  height: 246px;
}
main>.con3>.inner>ul .txtArea{
  width: 375px;
  height: 77px;
}
main>.con3>.inner>ul .txtArea p{
  line-height: 77px;
  font-size: 20px;
  font-weight: 700;
  background-color: white;
}
main>.con3>.inner>ul>li:hover{
  box-shadow: 10px 10px 20px gray;
}
main>.con3>.inner>ul>li:hover .txtArea p{
  background-color: green;
  color: white;
}






/* main-con4 */
main>.con4{
  
}
main>.con4>.inner{
  height: 800px;
  text-align: center;
}
main>.con4>.inner>h1{
  font-size: 3em;
  margin-bottom: 30px;

}
main>.con4>.inner>p{
  font-size: 1em;
  margin-bottom: 50px;
}
main>.con4>.inner>.news>.left{
  float: left;
  border: 1px solid gray;
  width: 492px;
  padding: 40px;
  text-align: left;
}
main>.con4>.inner>.news>.left>h3{
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
}
main>.con4>.inner>.news>.left>a{
  border-bottom: 2px solid gray;
  display: block;
  padding-bottom: 20px;
}
main>.con4>.inner>.news>.left>a p{
  font-size: 20px;
  font-weight: 500;
  /* text 넘어가는 데이터 ... 처리 */
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  margin-bottom: 61px;
}
main>.con4>.inner>.news>.left>a span{
  color: gray;
  font-size: small;
}
main>.con4>.inner>.news>.left>ul{
  margin-top: 27px;
}
main>.con4>.inner>.news>.left>ul>li>a{
  display: block;
  float: left;
  width: 400px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}
main>.con4>.inner>.news>.left>ul>li>span{
  margin-top: 27px;
  margin-bottom: 27px;
}
main>.con4>.inner>.news>.left{
  position: relative;
}
main>.con4>.inner>.news>.left>.more{
  width: 20px;
  background-image: url(../image/logo.png);
  position: absolute;
  top: 40px;
  right: 40px;
  border: none;
  background-repeat: no-repeat;
}
main>.con4>.inner>.news>.left>.more:before{
  content: "더보기";
  position: absolute;
  top: 0;
  right: 25px;
  width: 50px;
}
main>.con4>.inner>.news>.right{
  float: right;
  width: 574px;
  margin-left: 22px;
  /* background-color: palegreen; */
}
main>.con4>.inner>.news>.right>.top{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
main>.con4>.inner>.news>.right>.top .r1{
  background-image: url(../image/logo.png);
  background-size: auto;
  background-position: 50% 40%;
  background-repeat: no-repeat;
  width: 276px;
  height: 88px;
  padding: 128px 40px 40px 40px;
  box-sizing: border-box;
  border: 1px solid gray;
  font-size: 20px;
  font-weight: 500;
}
main>.con4>.inner>.news>.right>.top .r2{
  background-image: url(../image/logo.png);
  background-size: auto;
  background-position: 50% 40%;
  background-repeat: no-repeat;
  width: 276px;
  height: 88px;
  padding: 128px 40px 40px 40px;
  box-sizing: border-box;
  border: 1px solid gray;
  font-size: 20px;
  font-weight: 500;
}
main>.con4>.inner>.news>.right>.bt{
  border: 1px solid gray;
  background-image: url(../image/logo.png);
  background-size: cover;
  background-position: center;
  margin-top: 22px;
  width: 574px;
  height: 192px;
  padding: 40px;
  box-sizing: border-box;
  margin-top: 22px;
}
main>.con4>.inner>.news>.right>.bt p{
  font-size: 30px;
  margin: 0;
  color: black;
  text-align: left;
}
main>.con4>.inner>.news>.right>.bt .more{
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  margin-top: 20px;
}
main>.con4>.inner>.news>.right>.bt .more a{
  color: white;
}
main>.con4>.inner>.news>.right>.bt .more a::after{
  content: url(../image/mainCon1_img1.jpg);
  margin-left: 10px;
}


main{
  position: relative;

}
main>.top{
  background-image: url(../image/logo.png);
  background-repeat: no-repeat;
  width: 100px;
  height: 50px;
  position: absolute;
  bottom: -10px;
  right: 30px;
}






/* footer */
footer{
  /* background-color: hotpink; */
  border-top: 1px solid gray;
}
footer>.inner{
  height: 320px;
  /* background-color: greenyellow; */
  padding: 50px 0;
}
footer>.inner>ul{
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid gray;
}
footer>.inner>ul>li{
  padding: 10px 20px 30px;
}
.red{
  color: red;
}
footer>.inner>.footerBt{
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}
footer>.inner>.footerBt .t{
  margin: 10px 0;
}
footer>.inner>.footerBt .t>span{
  padding: 10px 20px;
  position: relative;
  color: gray;
}
footer>.inner>.footerBt .c{
  margin: 30px 10px;
  padding-left: 10px;
  font-size: small;
}
footer>.inner>.footerBt>.right>select{
  width: 210px;
  height: 45px;
  padding-left: 20px;
  border: 1px solid gray;
  appearance: none;
  background-image: url(../image/icon);
  background-repeat: no-repeat;
  background-position: 90% 50%;
  font-size: 15px;
}
